.vscode
**/*.sh
**/*.pb.h
**/*.pb.cc
**/*.o
**/*.dst
**/*.json
**/*.a
**/*.so
**/*.d
**/__pycache__
**/*_pb2.py
.clang-format
!/tests/tree.json
!/oldexperiments/experiment1/deltaconfig.json
!/oldexperiments/experiment1/hmsconfig.json
!/oldexperiments/experiment1/icebergconfig.json
!/oldexperiments/experiment2/deltaconfig.json
!/oldexperiments/experiment2/hmsconfig.json
!/oldexperiments/experiment3/dataconfig.json
!/oldexperiments/experiment3/originaltpcds.json
!/experiments/concurrency/dataconfig.json
!/experiments/concurrency/workload.json
!/experiments/scan/scanconfig.json
!/experiments/tpc-ds/dataconfig.json
!/experiments/tpc-ds/workload.json


/thirdparty/*
!thirdparty/install.sh